html {
  font-size: $font-size;
}
body {
  font-family: $font-family;
  font-size: 1.6rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

button {
    outline: none;
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}
.is-active {
  font-weight: bold;
}